!!!html
%head
  %meta{charset: "utf-8"}
  %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}

  %title= @item[:title]
  %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Gilda+Display|Poiret+One|Tienne|Open+Sans+Condensed:300"}
  %link{rel: "stylesheet", type: "text/css", href: "/style/screen.css", media: "screen"}
%body
  #header
    %h1 Leo Franchi
  #nav
    %ul
      %li 
        %a{href: "/blog/"} Blog
      %li 
        %a{href: "/projects/"} Projects
      %li
        %a{href: "/"} About
  %hr#nav-separator
  #content
    -# MAJOR HACK copy and pasting contents of article_embedded b/c I can't figure out the proper way to make this work in a DRY way
    - if @item[:kind] == 'article' then
      #article
        #article-header
          %h1#title
            %a{href:permalink_for_article(@item)}
              = @item[:title]
          #date
            %time{datetime:@item[:created_at].strftime("%Y-%m-%d"), pubdate:"pubdate"}
              = @item[:created_at].strftime("%A, %B %d %Y")
        #article-body
          = yield
    - else
      = yield